**__pycache__**
**build**
**egg-info**
**dist**
data/
*.pyc
venv/
*.idea/
*.so
*.yaml
*.sh
*.pth
*.pkl
*.zip
*.bin
output
version.py

# configruations
!tools/cfgs/dataset_configs/*.yaml
!tools/cfgs/innoviz_models/*.yaml

# vscode
.vscode